<a href="https://colab.research.google.com/github/dubuuri/aipython/blob/main/20240102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#나이를 입력받고 내년의 나이를 계산하여 출력하기

#a를 int로
a=int(input("당신의 나이는?"))
print(a, "살 이군요.")
print("내년엔", a+1, "살이 되네요.")
print(type(a))

당신의 나이는?23
23 살 이군요.
내년엔 24 살이 되네요.
<class 'int'>

In [2]:
#a를 str로
a=input("당신의 나이는?")
print(a, "살 이군요.")
print("내년엔", int(a)+1, "살이 되네요.")
print(type(a))

당신의 나이는?23
23 살 이군요.
내년엔 24 살이 되네요.
<class 'str'>

In [4]:
#변수 사용
a=int(input("당신의 나이는?"))
msg=("%s살 이군요."%(a))
print(msg)
print("내년엔", a+1, "살이 되네요.")
print(type(a))

당신의 나이는?23
23살 이군요.
내년엔 24 살이 되네요.
<class 'int'>

In [7]:
a="파이썬"
print(a,"아 반가워")

파이썬 아 반가워

In [9]:
a="파이썬"
msg=a+"아 반가워"
print(msg)

파이썬아 반가워

In [11]:
#변수 변환
a="파이썬"
b=20
print("%s야 반가워 %d살이구나"%(a,b))

파이썬야 반가워 20살이구나

In [17]:
print("오늘은 {}월 {}일 입니다.".format(1,2))
print("오늘은 {:d}월 {:5.2f}일 입니다.".format(1,2))

오늘은 1월 2일 입니다.
오늘은 1월  2.00일 입니다.

In [28]:
name = "홍길동"
age = 20.5

print("이름은 {:>10s}이고 나이는 {:4.2f}입니다.".format(name,age))

이름은        홍길동이고 나이는 20.50입니다.

In [ ]:
a=24
b=21
c=(a+b)/2

print(c)
print("%d"%c)
print("%4d"%c)
print("%f"%c)
print("%3.1f"%c)
print("%6.2f"%c)

2024/1/1 실습

In [31]:
2-6
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print("우리가 수업하는 실습실:")
print(Lab)

우리가 수업하는 실습실:
105

In [32]:
2-7
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print("우리가 수업하는 실습실:",Lab)

우리가 수업하는 실습실: 105

In [34]:
2-8
#변수 두개를 생성하고 값을 할당
my_id = 202211124
grade = 2

#두 개의 변수에 할당된 값을 출력
print("나의 학번: ")
print(my_id)
print("학년: ")
print(grade)

나의 학번:
202211124
학년:
2

In [35]:
2-9
#변수에 값을 할당하고 출력하는 예제입니다.

#dollars 변수에 값을 할당
dollars = 2.75
print("I have", dollars, "in my account.")

#dollars 변수에 새로운 값을 할당
dollars = 99.95
print("But now I have", dollars, "in my account!")

I have 2.75 in my account.
But now I have 99.95 in my account!

In [36]:
2-10
#두 개의 변수를 생성하고 문자열을 할당합니다.
department = "수학과"
name = "안유리"

#각 변수에 할당된 문자열 값 출력
print(department, name)

수학과 안유리

In [37]:
2-11
#학과명 입력받기
department = input("학과명: ")

#이름 입력받기
name = input("이름: ")

#두 변수의 값 출력
print("안녕하세요", department, name)

학과명: 수학과
이름: 안유리
안녕하세요 수학과 안유리

In [41]:
2-12
#이름, 나이, 통학시간 정보 입력받기
name = input("당신의 이름은 무엇입니까? ")
age = int(input("나이는 어떻게 되시나요? "))
attending_time = float(input("통학시간은 얼마나 걸립니까? "))

#변수에 입력된 데이터 출력
print("입력 정보는 다음과 같습니다.")
print("이름: ", name)
print("나이: ", age)
print("통학시간: ", attending_time)

당신의 이름은 무엇입니까? 안유리
나이는 어떻게 되시나요? 23
통학시간은 얼마나 걸립니까? 0.5
입력 정보는 다음과 같습니다.
이름:  안유리
나이:  23
통학시간:  0.5

In [43]:
2-13
#salary 변수에 급여 할당
salary = 2500.0

#bonus 변수에 보너스 할당
bonus = 1200.0

#급여와 보너스를 더하여 총 급여 구하기
#총 급여를 pay 변수에 할당
pay = salary + bonus

#총 급여 출력
print("총 급여: ", pay)

총 급여:  3700.0

In [44]:
2-14
#원가에 할인률을 적용하여 할인가격 계산

#original price 변수에 원가 입력받기
original_price = float(input("제품의 원가를 입력해주세요: "))

#원가에 할인률 20% 적용하여 할인가를 계산하고 discount 변수에 할당
discount = original_price*0.2

#원가에 할인가가 적용된 제품 가격을 계산하여 sale_price 변수에 할당
sale_price = original_price - discount

#할인가가 적용된 제품 가격을 출력
print("할인가격: ", sale_price)

제품의 원가를 입력해주세요: 100
할인가격:  80.0

In [45]:
2-15
#세 과목의 평균 점수를 입력받고
#test1, test2, test3 변수에 각각 할당
test1 = float(input("첫 번째 과목 점수를 입력해주세요: "))
test2 = float(input("두 번째 과목 점수를 입력해주세요: "))
test3 = float(input("세 번째 과목 점수를 입력해주세요: "))

#세 과목 점수의 평균 계산하고
#그 결과 값을 average 변수에 할당
average = (test1 + test2 + test3) / 3.0

#점수 평균 출력
print("세 과목의 평균 점수: ", average)

첫 번째 과목 점수를 입력해주세요: 90
두 번째 과목 점수를 입력해주세요: 80
세 번째 과목 점수를 입력해주세요: 100
세 과목의 평균 점수:  90.0

In [46]:
2-16
#초를 입력받아 시, 분, 초로 변환하는 프로그램

#초 값을 입력받아 total_seconds 변수에 할당
total_seconds = float(input("시간 값을 초 단위로 입력해주세요: "))

#시간을 계산하여 hours 변수에 할당
hours = total_seconds // 3600

#분을 계산하여 minutes 변수에 할당
minutes = (total_seconds // 60) % 60

#초의 나머지 값을 seconds 변수에 할당
seconds = total_seconds % 60

#시, 분, 초 값 출력
print("시 분 초는 다음과 같습니다.")
print("시: ", hours)
print("분: ", minutes)
print("초: ", seconds)

시간 값을 초 단위로 입력해주세요: 11730
시 분 초는 다음과 같습니다.
시:  3.0
분:  15.0
초:  30.0

In [47]:
2-17
#목표액을 특정 이율로 얻고자 할 경우 매년 적립해야할 금액을 계산

#목표액을 입력받고 future_value 변수에 할당
future_value = float(input('목표 금액을 입력해주세요: '))

#연간 이율을 입력받고 rate 변수에 할당
rate = float(input('연간 이율을 입력해주세요: '))

#적립 기간을 입력받고 years 변수에 할당
years = int(input('저축 기간을 연 단위로 입력해주세요: '))

#특정 기간동안 적립해야할 금액을 계산하여 present_value 변수에 할당
present_value = future_value / (1.0 + rate)**years

#적립 금액 출력
print('적립 금액: ', present_value)

목표 금액을 입력해주세요: 10000
연간 이율을 입력해주세요: 0.05
저축 기간을 연 단위로 입력해주세요: 10
적립 금액:  6139.132535407592

In [48]:
2-18
#print() 함수에서 쉼표로 데이터를 구분하여 출력할 때
#자동적으로 분리되는 빈 칸을 sep 옵션으로 제어
print('a', 'b', 'c')
print('a', 'b', 'c', sep='')
print('a', 'b', 'c', sep='***')

a b c
abc
a***b***c

In [49]:
2-19
#print() 함수를 여러 번 사용할 경우, 각 print() 함수가 수행된 후에는자동적으로 줄바꿈이 일어난다.
#이는 커서가 자동으로 내려가기 때문인데
#커서를 줄바꿈시키지 않고 바로 옆에 놓고 같은 줄에 여러 print() 함수의 내용을 나타내고자 할 때 end 옵션을 사용할 수 있다.
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')
print('f')

a
b
cde***f

In [51]:
2-20
#부동 소수점이 출력되는 연산 수행
#소수점 길이를 제어하지 않고 결과 값을 출력
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print("월급여: ", monthly_payment)

월급여:  416.6666666666667

In [52]:
2-21
#소수점 자리를 제어하여 결과를 출력
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여: ', format(monthly_payment, '.2f'))

월급여:  416.67

In [53]:
2-22
#소수점 자리를 제어하여 결과를 출력
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')

Your annual pay is $60,000.00

In [54]:
2-23
#부동 소수점을 특정 너비에 맞추어 출력하는 방법
#아래와 같이 각 변수에 부동 소수점이 포함된 값을 할당
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

#7칸에 맞추어 부동 소수점이 포함된 변수 값을 출력
print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00