<a href="https://colab.research.google.com/github/dubuuri/aipython/blob/main/20240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = 1
while a <= 3 :
  print('안녕', a)
  a += 1

안녕 1
안녕 2
안녕 3

In [12]:
# 중첩조건문

c=0

for i in range(4) :
  for c in range(4) :
    if c%4==0 :
      print(i+1, "Welcome")
    else :
      print(c, "Hello")
    c += 1
  i += 1

print("Done")

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [15]:
A, B, C = map(int, input().split())
if A <= B <= C or C <= B <= A :
  print(B)
elif B <= C <= A or A <= C <= B :
  print(C)
else :
  print(A)

30 40 10
30

In [17]:
A, B, C = map(int, input().split())
nums = [A, B, C]
nums.sort()
print(nums)

20 30 10
[10, 20, 30]

In [28]:
nums = [1, 2, 3]
nums[1] = 0

In [30]:
num = (1, 2, 3)
num[1] = 0

TypeError: ignored

In [41]:
score = [[29, 28, 27, 20],
       [30, 20, 27, 29],
       [23, 25, 29, 30]]

for r in range(3) :
  for c in range(4) :
    print(score[r][c], end = " ")
  print()

29 28 27 20
30 20 27 29
23 25 29 30

In [43]:
score = [[29, 28, 27, 20],
       [30, 20, 27, 29],
       [23, 25, 29, 30]]

for r in range(len(score)) :
  for c in range(len(score[r])) :
    print(score[r][c], end = " ")
  print()

29 28 27 20
30 20 27 29
23 25 29 30