<a href="https://colab.research.google.com/github/dubuuri/aipython/blob/main/20240103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10

if a > 5:
  print("a는 5보다 큽니다.")
print("end")

a는 5보다 큽니다.
end

In [ ]:
gender = "F"

if gender == "M" :
  print("남자입니다.")
if gender == "F" :
  print("여자입니다.")

여자입니다.

In [ ]:
gender = "F"

if gender == "M" :
  print("남자입니다.")
else :
  print("여자입니다.")

여자입니다.

In [ ]:
score = int(input("점수를 입력하세요: "))

if score >= 90 :
  print("A")
elif score >= 80 :
  print("B")
elif score >= 70 :
  print("C")
else :
  print("D")

점수를 입력하세요: 80
B

In [ ]:
a = 10
b = 5

if a > 5 :
  if b < 10 :
    print("a는 5보다 크고, b는 10보다 작습니다.")

a는 5보다 크고, b는 10보다 작습니다.

In [ ]:
a = 10
b = 5

if a > 5 and b < 10 :
    print("a는 5보다 크고, b는 10보다 작습니다.")

a는 5보다 크고, b는 10보다 작습니다.

In [ ]:
a = [1, 2, 3, 4, 5]

for i in a :
  print(i, end = " ")

1 2 3 4 5

In [ ]:
for i in range(1, 10, 2) :
  print(i, end = " ")

1 3 5 7 9

In [ ]:
for i in range(10) :
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for x in "월화수" :
  print(x)

월
화
수

In [ ]:
n = int(input())
sum = 0

for i in range(1,n+1) :
  sum += i

print(sum)

5
15

In [ ]:
n = int(input())
sum = 0

for i in range(1, n+1) :
  sum += i

print(sum)

3
6

In [ ]:
A, B, C = map(int, input().split())

if A >= B >= C or C >= B >= A:
    print(int(B))
elif B >= A >= C or C >= A >= B:
    print(int(A))
else:
    print(int(C))

20 30 10
20

In [ ]:
A, B, C = map(int, input().split())

20 30 10

In [ ]:
def add(x,y) :
  s = x + y
  a = s / 2
  return s, a

h,a = add(10,20)
print("합:",h,"평균:",a)

합: 30 평균: 15.0

In [ ]:
def add(x,y) :
  s = x + y
  a = s / 2
  return s, a

s,a = add(10,20)
print("합:",s,"평균:",a)

합: 30 평균: 15.0

In [ ]:
def add(x,y) :
  s = x + y
  a = s / 2
  return s, a

h,a = add(10,20)
print("합:%d 평균:%.2f"%(h,a))

합:30 평균:15.00

In [ ]:
a = 1
while a <= 3 :
  print('안녕', a)
  a += 1

안녕 1
안녕 2
안녕 3

2024/01/03 조건문 실습

In [ ]:
4-1
# if 조건문의 기본 활용법
# 점수를 세 번 입력받고 평균을 계산한 후, 전역 상수와 비교하여 클 경우에는 메시지를 출력

# 전역 상수 선언
HIGH_SCORE = 95

def main():
  # 점수를 세 번 입력받아 각 변수에 할당한다.
  test1 = int(input('Enter the score for test 1: '))
  test2 = int(input('Enter the score for test 2: '))
  test3 = int(input('Enter the score for test 3: '))

  average = (test1 + test2 + test3) / 3

  print('The average score is', average)

  # 평균값이 HIGH_SCORE 보다 클 경우에 메시지 출력
  if average >= HIGH_SCORE:
    print('Congratulations!')
    print('That is a great average!')

main()

Enter the score for test 1: 93
Enter the score for test 2: 99
Enter the score for test 3: 96
The average score is 96.0
Congratulations!
That is a great average!

In [ ]:
4-2
# 근무시간과 시간당 급여를 입력받아 조건문으로 적절한 상황을 판단한 후 총 급여를 계산

# 전역 상수 선언
BASE_HOURS = 40       # Base hours per week
OT_MULTIPLIER = 1.5   # Overtime multiplier

def main():
  # 근무시간과 시간당 급여를 입력받아 각 변수에 할당
  hours_worked = float(input('Enter the number of hours worked: '))
  pay_rate = float(input('Enter the hourly pay rate: '))

  # 총 급여를 계산하고 그 결과를 출력
  if hours_worked > BASE_HOURS:
    calc_pay_with_OT(hours_worked, pay_rate)
  else:
    calc_regular_pay(hours_worked, pay_rate)

# 근무시간이 BASE_HOURS 보다 크다면 초과근무 비율을 고려하여 계산
def calc_pay_with_OT(hours, rate):
  # 초과 근무시간을 계산
  overtime_hours = hours - BASE_HOURS

  # 초과 근무시간의 급여를 계산
  overtime_pay = overtime_hours * rate * OT_MULTIPLIER

  # 총 급여를 계산
  gross_pay = BASE_HOURS * rate + overtime_pay

  # 총 급여를 출력
  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

# 초과근무를 하지 않았다면 근무시간과 시간당 급여를 통해 총 급여를 계산하고 출력
def calc_regular_pay(hours, rate):
  # 총 급여를 계산
  gross_pay = hours * rate

  # 총 급여를 출력
  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

# main 함수를 호출
main()

Enter the number of hours worked: 40
Enter the hourly pay rate: 20
The gross pay is $800.00

In [ ]:
4-3
# 문자열을 입력받아서 비교하는 방법

# 문자열을 입력받고 변수에 할당
password = input('Enter the password: ')

# 입력받은 문자열과 특정 문자열을 비교한 후 동일한 경우와 그렇지 않은 경우에 대해 각각 출력
if password == 'prospero':
  print('Password accepted.')
else:
  print('Sorry, that is the wrong password.')

Enter the password: prospero
Password accepted.

In [ ]:
4-4
# 비교 연산자 < 로 문자열의 순서를 비교

# 이름 두 개를 문자열로 입력받고 각 변수에 할당
name1 = input('Enter a name (last name first): ')
name2 = input('Enter another name (last name first): ')

# 입력받은 이름을 알파벳 순서에 따라 출력
print('Here are the names, listed alphabetically.')

if name1 < name2:
  print(name1)
  print(name2)
else:
  print(name2)
  print(name1)

Enter a name (last name first): Jones, Richard
Enter another name (last name first): Costa, Joan
Here are the names, listed alphabetically.
Costa, Joan
Jones, Richard

In [ ]:
4-5
# 중첩 if 문을 이용하여 점수에 대한 등급을 판단하는 프로그램

# 각 점수 영역을 전역 상수로 선언
A_SCORE = 90
B_SCORE = 80
C_SCORE = 70
D_SCORE = 60

def main():
  # 사용자의 점수를 입력받고 변수에 할당
  score = int(input('Enter your test score: '))

  # 입력받은 점수에 대한 등급을 판단하고 메시지를 출력
  if score >= A_SCORE:
    print('Your grade is A.')
  else:
    if score >= B_SCORE:
      print('Your grade is B.')
    else:
      if score >= C_SCORE:
        print('Your grade is C.')
      else:
        if score >= D_SCORE:
          print('Your grade is D.')
        else:
          print('Your grade is F.')

main()

Enter your test score: 78
Your grade is C.

In [ ]:
4-6
# 중첩 if 문을 이용하여 점수에 대한 등급을 판단하는 프로그램

# 각 점수 영역을 전역 상수로 선언
A_SCORE = 90
B_SCORE = 80
C_SCORE = 70
D_SCORE = 60

def main():
  # 사용자의 점수를 입력받고 변수에 할당
  score = int(input('Enter your test score: '))

  # 입력받은 점수에 대한 등급을 판단하고 메시지를 출력
  if score >= A_SCORE:
    print('Your grade is A.')
  elif score >= B_SCORE:
    print('Your grade is B.')
  elif score >= C_SCORE:
    print('Your grade is C.')
  elif score >= D_SCORE:
    print('Your grade is D.')
  else:
    print('Your grade is F.')

main()

Enter your test score: 78
Your grade is C.